node_modules
.env
.env.example
.env.test
.env.development
.env.production
.env.staging
.env.testing
.env.development.local
.env.production.local
.env.staging.local
.env.testing.local
.env.development.docker
.env.production.docker
.env.staging.docker
.env.testing.docker
.env.development.test
.env.production.test
.env.staging.test
.env.testing.test
.idea
target